<div class="form-group picture">
    <img src="/web/core/users/{{student.id}}/picture" class="img-thumbnail" width="130" height="189">
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">姓名</label>
    <div class="col-sm-3">
        <p class="form-control-static">{{student.name}}</p>
    </div>
    <label class="col-sm-3 col-form-label">性别</label>
    <div class="col-sm-3">
        <p class="form-control-static">{{student.sex}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">学号</label>
    <div class="col-sm-3">
        <p class="form-control-static">{{student.id}}</p>
    </div>
    <label class="col-sm-3 col-form-label">生源地</label>
    <div class="col-sm-3">
        <p class="form-control-static">{{student.province}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">学院（部）</label>
    <div class="col-sm-9">
        <p class="form-control-static">{{student.department}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">专业</label>
    <div class="col-sm-9">
        <p class="form-control-static">{{student.subject}}</p>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">出生年月</label>
    <div class="col-sm-3">
        <p class="form-control-static">{{student.birthday}}</p>
    </div>
    <label class="col-sm-3 col-form-label">层次</label>
    <div class="col-sm-3">
        <p class="form-control-static">{{student.educationLevel}}</p>
    </div>
</div>
