.table {
    margin-bottom: 0rem;

    td {
        text-align: center;

        .checkbox-inline {
            input[type=checkbox] {
                position: inherit;
                margin-top: 0;
            }
        }
    }
}