<ng-container *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class="btn btn-secondary" (click)="returnList()">返回</button>
        </div>
        <div class="btn-group ml-2">
            <button [workflow-workitems]="form.workflowInstanceId">流程</button>
        </div>
        <div class="btn-group ml-2" *ngIf="form.editable" >
            <button class="btn btn-secondary" (click)="edit()">编辑</button>
            <button class="btn btn-secondary" (click)="remove()">删除</button>
            <button [workflow-submit]="submitOptions" (submitted)="loadData(form.id)">提交</button>
        </div>
        <div class="btn-group ml-2" *ngIf="form.status === 'APPROVED'">
            <button class="btn btn-primary" (click)="finish()">销假</button>
        </div>
    </div>
    <leave-form-viewer [form]="form"></leave-form-viewer>
</ng-container>