<div *ngIf="form">
    <div class="btn-toolbar">
        <button class="btn btn-secondary mr-2" (click)="returnList()">返回</button>
        <button [workflow-workitems]="form.workflowInstanceId">查看流程</button>
        <div class="btn-group ml-auto" *ngIf="form.editable">
            <button class="btn btn-secondary" (click)="edit()">编辑</button>
            <button class="btn btn-secondary" (click)="remove()">删除</button>
            <button [workflow-submit]="submitOptions" (submitted)="loadData(form.id)">提交</button>
        </div>
    </div>
    <reissue-form-viewer [form]="form"></reissue-form-viewer>
</div>
