<div *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto mr-2">
            <button class='btn btn-secondary' (click)="findPlace()">选择教室</button>
        </div>
        <div class="btn-group">
            <button class='btn btn-secondary' (click)="cancel()">取消</button>
            <button class='btn btn-primary' (click)="save()" [disabled]="saving || !form.isValid()">保存</button>
        </div>
    </div>
    <h3><span>{{form.title}}</span></h3>
    <form class="form-horizontal offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
        <form-field-2>
            <select class="form-control form-field-left" label="借用单位" name="department" [(ngModel)]="form.departmentId" (ngModelChange)="onDepartmentChanged($event)">
                <option *ngFor="let department of departments" [ngValue]="department.id">{{department.name}}</option>
            </select>
            <select class="form-control form-field-right" label="借用类别" name="bookingType" [(ngModel)]="form.bookingTypeId">
                <option *ngFor="let bookingType of bookingTypes" [ngValue]="bookingType.id">{{bookingType.name}} ({{bookingType.checker}})</option>
            </select>
        </form-field-2>
        <form-field label="借用事由" [class.has-danger]="!reason.pristine && !reason.valid">
            <textarea class="form-control" name="reason" rows="4"
                [(ngModel)]="form.reason"
                placeholder="请注明借用单位下属部门（班级或社团名称）、使用人数和用途。"
                maxlength="100" minlength="10"
                required
                #reason="ngModel"></textarea>
            <p class="form-control-feedback" [hidden]="reason.pristine || reason.valid">
                <span *ngIf="reason.errors?.required">借用事由不能为空。</span>
                <span *ngIf="reason.errors?.minlength">借用事由最少{{reason.errors.minlength.requiredLength}}个字符。</span>
                <span *ngIf="reason.errors?.maxlength">借用事由最多{{reason.errors.maxlength.requiredLength}}个字符。</span>
            </p>
        </form-field>
        <form-field-2>
            <p class="form-control-static form-field-left" label="借用人">{{form.userName}}</p>
            <p class="form-control-static form-field-right" label="联系电话">{{form.phoneNumber}}</p>
        </form-field-2>
        <form-field label="借用明细">
            <ul *ngIf="form.items.length > 0; else prompt">
                <li *ngFor="let item of form.items">{{item}} <remove-item (click)="form.removeItem(item)"></remove-item></li>
            </ul>
            <template #prompt>
                 <p class="form-control-static text-muted">一张借用单可借用不同时段的多个教室，请点击“选择教室”按钮添加教室。</p>
            </template>
        </form-field>
    </form>
</div>
