<div class="btn-toolbar" *ngIf="config && config.isOpening">
    <div class="btn-group ml-auto">
        <button class="btn btn-primary" routerLink="/create">新建</button>
    </div>
</div>
<div class="alert alert-info" *ngIf="config">
<div [markdown]="notice"></div>
免听申请时间：{{config.startDate | date: 'y-MM-dd'}} 至 {{config.endDate | date: 'y-MM-dd'}}
</div>
<table class="table" *ngIf="forms; else empty">
    <thead>
        <tr>
            <th>查看</th>
            <th>事由</th>
            <th>创建时间</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let form of forms">
            <td><a [routerLink]="['/', form.id]">#{{form.id}}</a></td>
            <td><div class="reason">{{form.reason}}</div></td>
            <td>{{form.dateCreated | moment}}</td>
            <td><audit-status [status]="form.status"></audit-status></td>
        </tr>
    </tbody>
    <tfoot>
        <pager [total]="count"
               [max]="max"
               [length]="forms.length"
               (prev)="loadData($event)"
               (next)="loadData($event)">
        </pager>

</table>
