<div class="btn-toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary" [routerLink]="['/teachers']">教师周课表</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/places']">教室周课表</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/schedules']">列表</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/priorities']">优先听课名单</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/unschedules']">未排实践课</button>
    </div>
    <div class="btn-group ml-auto">
        <button type="button" class="btn btn-secondary" (click)="query()">高级查询</button>
    </div>
</div>
<ng-container *ngIf="schedules">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>教师</th>
                <th>课程名</th>
                <th>时间&地点</th>
                <th>学分</th>
                <th>开课单位</th>
                <th>课程性质</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-schedule [ngForOf]="schedules" let-i="index">
                <tr>
                    <td class="teacher">{{schedule.teacherName}}<br>({{schedule.academicTitle}})</td>
                    <td class="courseName">{{schedule.course}}</td>
                    <td>{{schedule.startWeek}}-{{schedule.endWeek}}周{{schedule.oddEven | oddEven}} {{schedule.dayOfWeek | dayOfWeek}}
                        {{schedule.startSection}}-{{schedule.startSection+schedule.totalSection-1}}节<br>{{schedule.place}}
                    </td>
                    <td>{{schedule.credit}}</td>
                    <td>{{schedule.department}}</td>
                    <td>{{schedule.property}}</td>
                    <td><button class="btn btn-default btn-sm" [class.btn]="schedule.superviseCount"
                        [disabled]="schedule.cantObserver"
                        [class.btn-warning]="schedule.superviseCount === 2"
                        [class.btn-danger]="schedule.superviseCount > 2"
                        [routerLink]="['/teacher',schedule.teacherId,'week', queryOptions.weekOfTerm, 'timeslot',  schedule.dayOfWeek * 10000 + schedule.startSection * 100]">
                    录入
                    </button></td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <div>图例：<span class="btn btn-warning"></span>表示老师被听课达2次，<span class="btn btn-danger"></span>表示老师被听课2次以上。</div>
</ng-container>
