@import 'node_modules/bootstrap/scss/_variables.scss';

.form-control-static:not(.text-muted) {
    border-bottom: solid 1px rgba(0,0,0,.15);
}

label {
    font-weight: bold;
}

schedule-timetable /deep/ {
    .table {
        td {
            border-right: solid 1px $table-border-color;
        }
    }

    .slotitem {
        width: 100%;
        border: solid 1px #888;
        border-radius: 4px;
        padding: 2px;
        white-space: normal;
    }

    .slotitem + .slotitem {
        margin-top: 2px;
    }

    .course-name {
        font-size: 1rem;
    }

    .course-item {
        white-space: nowrap;
        font-size: 0.75rem;
    }

    .weeks,
    .teachers,
    .place,
    .course-class-names {
        font-size: 0.75rem;
    }
}

ul {
    padding: 0.5rem 0 0.5rem 0;
}
