@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'src/core/components/schedule-timetable/schedule-timetable.shared.scss';

.form-control-static:not(.text-muted) {
    border-bottom: solid 1px rgba(0,0,0,.15);
}

label {
    font-weight: bold;
}

ul {
    padding: 0.5rem 0 0.5rem 0;
}

*:not(button){
    &.slotitem-normal {
        @include schedule-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    }
    &.slotitem-current {
        @include schedule-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &.slotitem-exists {
        @include schedule-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &.slotitem-approved {
        @include schedule-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &.slotitem-other {
        @include schedule-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
}

button.slotitem {
    &.slotitem-normal {
        @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    }
    &.slotitem-current {
        @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
    &.slotitem-exists {
        @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    }
    &.slotitem-approved {
        @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    }
    &.slotitem-other {
        @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
}
