<form-title>{{form.title}}</form-title>
<form>
    <div class="row">
        <div class="form-group col-md-4">
            <label>学号</label>
            <p class="form-control-static">{{form.studentId}}</p>
        </div>
        <div class="form-group col-md-4">
            <label>姓名</label>
            <p class="form-control-static">{{form.studentName}}</p>
        </div>
        <div class="form-group col-md-4">
            <label>专业</label>
            <p class="form-control-static">{{form.subject}}</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>年级</label>
            <p class="form-control-static">{{form.grade}}</p>
        </div>
        <div class="form-group col-md-4">
            <label>班级</label>
            <p class="form-control-static">{{form.adminClass}}</p>
        </div>
        <div class="form-group col-md-4">
            <label>主讲教师</label>
            <p class="form-control-static">{{form.checkerName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label>免听事由</label>
        <p class="form-control-static">{{form.reason}}</p>
    </div>
    <div class="form-group">
        <label>免听明细</label>
        <simple-schedule [schedules]="schedules">
            <ng-template #scheduleTpl let-schedule="schedule" let-day="day" let-section="section" let-count="count">
                <div class="schedule"
                    [ngClass]="getScheduleClass(schedule)"
                    [style.height]="count > 1 ? null : '100%'">
                    <span>{{schedule.courseLabel}}<br>{{schedule.weeksLabel}}<br>{{schedule.teacherName}}<br>{{schedule.courseClassName}}</span>
                </div>
            </ng-template>
        </simple-schedule>
        <div>
            图例：
            <span class="btn btn-sm btn-secondary">学生课表</span>
            <span class="btn btn-sm btn-danger">当前申请</span>
            <span class="btn btn-sm btn-info">其它申请（未审批）</span>
            <span class="btn btn-sm btn-success">其它申请（已审批）</span>
            <span class="btn btn-sm btn-warning">其它教学班</span>
        </div>
        <ul>
            <li *ngFor="let item of form.items">{{item}}</li>
        </ul>
    </div>
</form>