<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <button class="btn btn-primary" routerLink="create">新建</button>
    </div>
</div>
<table class="table" *ngIf="forms && forms.length > 0">
    <thead>
        <tr>
            <th>查看</th>
            <th>类型</th>
            <th>事由</th>
            <th>创建时间</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let form of forms">
            <td><a [routerLink]="[form.id]">#{{form.id}}</a></td>
            <td>{{form.type | leaveType}}</td>
            <td><div class="reason">{{form.reason}}</div></td>
            <td>{{form.dateCreated | date: 'y-MM-dd HH:mm'}}</td>
            <td><audit-status [status]="form.status"></audit-status></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <pager [total]="count" [max]="max" [length]="forms.length"
                       (prev)="loadData($event)" (next)="loadData($event)"></pager>
            </td>
        </tr>
    </tfoot>
</table>
