<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <a class="btn btn-primary" routerLink="/create">新建</a>
    </div>
</div>
<table class="table" *ngIf="forms">
    <thead>
        <tr>
            <th>查看</th>
            <th>类型</th>
            <th>事由</th>
            <th>创建时间</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let form of forms">
            <td><a [routerLink]="['/', form.id]">#{{form.id}}</a></td>
            <td>{{form.type}}</td>
            <td><div class="reason">{{form.reason}}</div></td>
            <td>{{form.dateCreated | moment}}</td>
            <td><audit-status [status]="form.status"></audit-status></td>
        </tr>
    </tbody>
    <tfoot>
        <pager [total]="count"
               [max]="max"
               [length]="forms.length"
               (prev)="loadData($event)"
               (next)="loadData($event)">
        </pager>

</table>
