<form-title>{{form.title}}</form-title>
<div class="row">
    <form class="col-lg-10 mx-auto">
        <div class="row">
            <div class="form-group col-md-6">
                <label>借用单位</label>
                <p class="form-control-plaintext">{{form.departmentName}}</p>
            </div>
            <div class="form-group col-md-6">
                <label>借用类别</label>
                <p class="form-control-plaintext">{{form.bookingTypeName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label>借用事由</label>
            <p class="form-control-plaintext">{{form.reason}}</p>
        </div>
        <div class="form-group">
            <label>借用人</label>
            <p class="form-control-plaintext d-flex" label="借用人">
                <ng-container *ngIf="form.extraInfo">{{form.extraInfo.join(' ')}} </ng-container>{{form.userName}}
                &#9742; {{form.phoneNumber}}
                <span class="ml-auto">{{form.dateSubmitted | date: 'y-MM-dd HH:mm'}}</span>
            </p>
        </div>
        <div class="row">
            <div class="form-group col-md-6" *ngIf="form.checker">
                <label>审核人</label>
                <p class="form-control-plaintext d-flex">
                    {{form.checker}}<span class="ml-auto">{{form.dateChecked | date: 'y-MM-dd HH:mm'}}</span>
                </p>
            </div>
            <div class="form-group col-md-6" *ngIf="form.approver">
                <label>审批人</label>
                <p class="form-control-plaintext d-flex">
                    {{form.approver}}<span class="ml-auto">{{form.dateApproved | date: 'y-MM-dd HH:mm'}}</span>
                </p>
            </div>
            <div class="form-group col-md-6">
                <label>表单状态</label>
                <p class="form-control-plaintext">{{form.status | statusText}}</p>
            </div>
        </div>
        <div class="form-group">
            <label>借用明细</label>
            <ul *ngIf="form.items.length > 0; else prompt">
                <li *ngFor="let item of form.items">
                    {{item}}
                    <span *ngIf="item.occupied" class="badge badge-danger">已占用</span>
                </li>
            </ul>
        </div>
    </form>
</div>