<form-title>{{form.title}}</form-title>
<form class="form-horizontal offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
    <form-field-2>
        <p class="form-control-static form-field-left" label="借用单位">{{form.departmentName}}</p>
        <p class="form-control-static form-field-right" label="借用类别">{{form.bookingTypeName}}</p>
    </form-field-2>
    <form-field label="借用事由">
        <p class="form-control-static">{{form.reason}}</p>
    </form-field>
    <form-field label="借用人">
        <p class="form-control-static form-field-left" label="借用人">
            <ng-container *ngIf="form.extraInfo">{{form.extraInfo.join(' ')}}</ng-container> {{form.userName}}
        </p>
    </form-field>
    <form-field-2>
        <p class="form-control-static form-field-left" label="联系电话">{{form.phoneNumber}}</p>
        <p class="form-control-static form-field-right" label="提交时间" *ngIf="form.dateSubmitted">{{form.dateSubmitted | date: 'y-MM-dd HH:mm'}}</p>
    </form-field-2>
    <form-field-2 *ngIf="form.checker">
        <p class="form-control-static form-field-left" label="审核人">{{form.checker}}</p>
        <p class="form-control-static form-field-right" label="审核时间">{{form.dateChecked | date: 'y-MM-dd HH:mm'}}</p>
    </form-field-2>
    <form-field-2 *ngIf="form.approver">
        <p class="form-control-static form-field-left" label="审批人">{{form.approver}}</p>
        <p class="form-control-static form-field-right" label="审批时间">{{form.dateApproved | date: 'y-MM-dd HH:mm'}}</p>
    </form-field-2>
    <form-field label="借用明细">
        <ul *ngIf="form.items.length > 0; else prompt">
            <li *ngFor="let item of form.items">
                {{item}}
                <span *ngIf="item.occupied" class="badge badge-danger">已占用</span>
            </li>
        </ul>
    </form-field>
</form>
