<div *ngIf="subjects">
    <template ngFor #subject [ngForOf]="subjects">
        <h1>{{subject.name}}</h1>
        <ul>
            <li *ngFor="#program of subject.programs">
                <h2>{{program.grade}}级{{program.type | programType}}</h2>
                <ul>
                    <li *ngFor="#vision of program.visions">
                        <template [ngIf]="vision.id">
                            <a [routerLink]="['/Item', {id: vision.id}]">v{{vision.versionNumber | versionNumber}}</a>
                            <audit-status [status]="vision.status"></audit-status>
                        </template>
                        <template [ngIf]="!vision.id">
                            <a [routerLink]="['/Create', {program: program.id}]">新建</a>
                        </template>
                    </li>
                </ul>
            </li>
        </ul>
    </template>
</div>