@import '../../rollcall/shared/rollcall-status.scss';

.invalid {
    text-decoration: line-through;
}

th, td {
    &:nth-child(1) {
        width: 1.5rem;
        text-align: center;
    }
    &:nth-child(2) {
        width: 3rem;
    }
    &:nth-child(3) {
        width: 8rem;
    }
    &:nth-child(4) {
        width: 7rem;
        white-space: nowrap;
    }
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10) {
        width: 3rem;
        text-align: right;
    }
}
