@import '../../rollcall/shared/rollcall-status';

.invalid {
    text-decoration: line-through;
}

td {
    &:nth-child(1) {
        width: 1.5rem;
        text-align: center;
    }
    &:nth-child(2) {
        width: 2.5rem;
    }
    &:nth-child(3) {
        width: 7rem;
    }
    &:nth-child(4) {
        width: 5rem;
        white-space: nowrap;
    }
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11) {
        width: 2.5rem;
        text-align: right;
    }
    &:nth-child(12) {
        width: 3rem;
        white-space: nowrap;
    }
}

td, th {
    &:nth-child(13) {
        width: 3rem;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .btn-sm {
        vertical-align: inherit;
        line-height: 1rem;
    }
}
