<div class="row">
    <div class="col-md-3">
        <div class="btn-toolbar">
            <select class="form-control" [(ngModel)]="selectedTerm" (change)="loadCourseClass(true)">
                <option *ngFor="let term of terms" [ngValue]="term">{{term | termName}}</option>
            </select>
        </div>
        <div class="list-group" *ngIf="courseClasses">
            <a class="list-group-item list-group-item-action d-flex flex-column align-items-start"
                *ngFor="let courseClass of courseClasses"
                [routerLink]="[courseClass.id]"
                routerLinkActive="active">
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <p class="mb-0">{{courseClass.course}}</p>
                    <label class="badge badge-pill badge-secondary">{{courseClass.count}}</label>
                </div>
                <small class="mb-0" *ngIf="courseClass.name">{{courseClass.name}}</small>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
