@import '../../../shared/agreement.shared';

.groupName {
    width: 10em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.universityEn {
    width: 20em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
