<table class="table table-bordered">
    <thead>
        <tr>
            <th>课程编码</th>
            <th>课程名称</th>
            <th>学分</th>
            <th>实践<br>学分</th>
            <th>总<br>学时</th>
            <th [attr.colspan]="scheme.terms.length">开课学期和周学时数</th>
            <th>考核<br>方式</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let property of scheme.properties">
            <tr [scheme-property]="property"></tr>
            <ng-container *ngFor="let direction of property.directions">
                <tr *ngFor="let sc of direction.courses"[scheme-course]="sc"></tr>
                <tr [scheme-group]="direction"></tr>
            </ng-container>
            <tr *ngFor="let sc of property.courses" [scheme-course]="sc"></tr>
            <tr [scheme-group]="property"></tr>
        </ng-container>
        <tr [scheme-summary]="scheme"></tr>
    </tbody>
</table>
