<table class="table table-bordered">
    <thead>
        <tr class="fix">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th *ngFor="let term of scheme.terms"></th>
        </tr>
        <tr>
            <th rowspan="2" colspan="2">课程<br>类别</th>
            <th rowspan="2">课程编码</th>
            <th rowspan="2">课程名称</th>
            <th rowspan="2">学分</th>
            <th rowspan="2">实践<br>学分</th>
            <th rowspan="2">总<br>学时</th>
            <th [attr.colspan]="scheme.terms.length">开课学期和周学时数</th>
        </tr>
        <tr>
            <th *ngFor="let term of scheme.terms" [class.short-term]="term >= 17">{{term | termTitle}}</th>
        </tr>
        <tr class="fix">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th *ngFor="let term of scheme.terms"></th>
        </tr>
    </thead>
    <tfoot>
        <tr class="fix">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td *ngFor="let term of scheme.terms"></td>
        </tr>
    </tfoot>
    <tbody>
        <template ngFor let-property [ngForOf]="scheme.properties">
            <template ngFor let-direction [ngForOf]="property.directions" let-i="index">
                <tr *ngFor="let sc of direction.courses; let j = index"
                    [scheme-course]="sc"
                    [terms]="scheme.terms"
                    [group1]="direction"
                    [first1]="j == 0"
                    [group2]="property"
                    [first2]="i == 0"></tr>
                <tr [scheme-group]="direction"
                    [terms]="scheme.terms"></tr>
            </template>
            <tr *ngFor="let sc of property.courses; let i = index"
                [scheme-course]="sc"
                [terms]="scheme.terms"
                [group1]="property"
                [first1]="i == 0"></tr>
            <tr [scheme-group]="property"
                [terms]="scheme.terms"></tr>
        </template>
        <tr [scheme-summary]="scheme"></tr>
    </tbody>
</table>