@mixin short-term() {
    background-color: rgba(240, 240, 240, 0.5);
}

.scheme {
    .btn-toolbar {
        margin-bottom: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .h1p {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.25Rem;
    }

    table {
        th {
            text-align: center;
            vertical-align: middle;
            padding: 4px;
            white-space: nowrap;
            &.short-term {
                @include short-term();
            }
        }

        td {
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 4px;
            &.course-name {
                text-align: left;
                white-space: normal;
            }
            &.short-term {
                @include short-term();
            }
        }

        tr {
            &.group {
                background-color: #fafafa;
            }
        }
    }

    .vertical {
        width: 1rem;
        line-height: 1.25rem;
        margin: auto;
        white-space: normal;
    }

    .direction {
        line-height: 1.25rem;
    }

    scheme-table {
        display: block;
        margin-bottom: 1rem;
    }
}

@media print {
    @page {
        margin-top: 3cm;
        margin-bottom: 2.5cm;
        margin-left: 2.5cm;
        margin-right: 2.5cm;
    }

    body {
        font-size: 10px;
    }

    .scheme {
        th {
            border-color: #000 !important;
            border-top-width: 2px !important;
        }
        td {
            border-color: #000 !important;
            pading: 2px!important;
        }
    }
}