<div class="row" *ngIf="dataLoaded">
    <ng-container *ngIf="adminClasses.length > 0; else empty">
        <div class="col-md-3">
            <div class="list-group" *ngIf="adminClasses && adminClasses.length > 0">
                <a class="list-group-item list-group-item-action justify-content-between"
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">全部
                <span class="badge badge-pill badge-default">{{totalCount}}</span>
                </a>
                <a class="list-group-item list-group-item-action justify-content-between"
                *ngFor="let adminClass of adminClasses"
                [routerLink]="['/adminClasses', adminClass.id]"
                routerLinkActive="active">{{adminClass.name}}
                <span class="badge badge-pill badge-default">{{adminClass.count}}</span>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table" *ngIf="students && students.length > 0">
                <thead>
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>班级</th>
                        <th>旷课</th>
                        <th>迟到</th>
                        <th>早退</th>
                        <th>折合</th>
                        <th>请假</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td><a href="students/{{student.id}}/attendances" target="_blank">{{student.id}}</a></td>
                        <td>{{student.name}}</td>
                        <td>{{student.adminClass}}</td>
                        <td>{{student.absent}}</td>
                        <td>{{student.late}}</td>
                        <td>{{student.early}}</td>
                        <td>{{student.total}}</td>
                        <td>{{student.leave}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <pager [total]="count" [max]="max" [length]="students.length"
                                (prev)="loadData($event)" (next)="loadData($event)"></pager>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </ng-container>
    <ng-template #empty><div class="container"><div class="alert alert-info ">暂无考勤数据。</div></div></ng-template>
</div>
