<table class="table" *ngIf="departments">
    <thead>
        <tr>
            <th>学院</th>
            <th>专业</th>
            <th>最近招生年级</th>
            <th>专业负责人</th>
            <th>教务秘书</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let department of departments; let i = index">
            <ng-container *ngFor="let subject of department.subjects; let j =index">
                <tr>
                    <td *ngIf="j == 0" [rowSpan]="department.subjects.length">{{department.name}}</td>
                    <td>{{subject.subjectId}} {{subject.subjectName}}</td>
                    <td>{{subject.maxGrade}}</td>
                    <td>
                        <a href="#" class="open-dialog" (click)="selectDirector($event.target, subject);false;">{{getDirectorLabel(subject)}}</a>
                        <i [spinning]="subject.directorProcessing"></i>
                    </td>
                    <td>
                        <a href="#" class="open-dialog" (click)="selectSecretary($event.target, subject);false;">{{getSecretaryLabel(subject)}}</a>
                        <i [spinning]="subject.secretaryProcessing"></i>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>