<div class="btn-toolbar">
    <div class="btn-group pt-2">
        <span>
            <a routerLink="/schedules">课表</a>
        </span>
        <span class="dropdown ml-2 hidden-xs-down">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">第{{week}}周</a>
            <div class="dropdown-menu">
                <a *ngFor="let w of weeks" class="dropdown-item" [routerLink]="['/week', w, 'day', activeSchedule.dayOfWeek, 'section', activeSchedule.startSection, service.viewType]">第{{w}}周</a>
            </div>
        </span>
        <span class="dropdown ml-2 hidden-sm-down">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{activeSchedule?.label}}</a>
            <div class="dropdown-menu">
                <a *ngFor="let s of weekSchedules" class="dropdown-item" [routerLink]="['/week', week, 'day', s.dayOfWeek, 'section', s.startSection, service.viewType]">{{s.label}}</a>
            </div>
        </span>
        <span class="ml-2 hidden-md-down" *ngIf="rollcallForm">
            <rollcall-summary [summary]="rollcallForm.summary"></rollcall-summary>
        </span>
    </div>
    <div class="btn-group ml-auto" *ngIf="rollcallForm">
        <ng-container  *ngIf="!rollcallForm.locked; else locked">
            <button class="btn btn-secondary" routerLink="detail" routerLinkActive="active" tabindex="-1" (click)="onSwitchView($event, 'detail')"><i class="fa fa-table"></i></button>
            <button class="btn btn-secondary" routerLink="list"   routerLinkActive="active" tabindex="-1" (click)="onSwitchView($event, 'list')"><i class="fa fa-list"></i></button>
            <button class="btn btn-secondary" routerLink="tile"   routerLinkActive="active" tabindex="-1" (click)="onSwitchView($event, 'tile')"><i class="fa fa-th"></i></button>
        </ng-container>
        <ng-template #locked>
            <span class="ml-auto" title="已锁定"><i class="fa fa-lock"></i></span>
        </ng-template>
    </div>
    <div class="btn-group ml-2" *ngIf="rollcallForm && !rollcallForm.locked">
        <button class="btn btn-secondary" (click)="showSettingsDialog()"><i class="fa fa-cog"></i></button>
    </div>
</div>
<router-outlet></router-outlet>
