<div class="btn-toolbar">
    <div class="my-auto">
        <a routerLink="/schedules">课表</a>
    </div>
    <div class="dropdown ml-2 my-auto" *ngIf="weekSchedules">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">第{{week}}周</a>
        <div class="dropdown-menu">
            <a *ngFor="let w of weeks" class="dropdown-item" [routerLink]="['/week', w, 'day', activeSchedule.dayOfWeek, 'section', activeSchedule.startSection, service.viewType]">第{{w}}周</a>
        </div>
    </div>
    <div class="dropdown ml-2 my-auto" *ngIf="weekSchedules">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{activeSchedule.label}}</a>
        <div class="dropdown-menu">
            <a *ngFor="let s of weekSchedules" class="dropdown-item" [routerLink]="['/week', week, 'day', s.dayOfWeek, 'section', s.startSection, service.viewType]">{{s.label}}</a>
        </div>
    </div>
    <div class="ml-2 my-auto hidden-md-down" *ngIf="rollcallForm">
        <rollcall-summary [summary]="rollcallForm.summary"></rollcall-summary>
    </div>
    <div class="btn-group ml-auto" *ngIf="rollcallForm">
        <ng-container  *ngIf="rollcallForm.locked; then unlock; else locked"></ng-container>
        <template #unlock>
            <button class="btn btn-secondary" routerLink="detail" routerLinkActive="active" tabindex="-1" (click)="onSwitchView($event, 'detail')"><i class="fa fa-table"></i></button>
            <button class="btn btn-secondary" routerLink="list"   routerLinkActive="active" tabindex="-1" (click)="onSwitchView($event, 'list')"><i class="fa fa-list"></i></button>
            <button class="btn btn-secondary" routerLink="tile"   routerLinkActive="active" tabindex="-1" (click)="onSwitchView($event, 'tile')"><i class="fa fa-th"></i></button>
        </template>
        <template #locked>
            <span class="ml-auto" title="已锁定"><i class="fa fa-lock"></i></span>
        </template>
    </div>
</div>
<router-outlet></router-outlet>
