.table {
    th {
        white-space: nowrap;
    }
    td {
        white-space: nowrap;
        border-top-width: 0;
        vertical-align: middle;

        &:nth-child(1) {
            text-align: center;
        }

        &:nth-child(7) {
            width: 100%;
        }
    }
}