@import 'node_modules/bootstrap/scss/_variables.scss';
@import '../../shared/variables.scss';

:host {
    white-space: nowrap;
}

.absent {
    color: $absent-bg;
}

.late {
    color: $late-bg;
}

.early {
    color: $early-bg;
}

.attend {
    color: $attend-bg;
}

.visible {
    color: $btn-success-bg;
}

.leave,
.free {
    color: $gray;
}
