<span title="总人数" class="total">{{summary.total}}</span><sub>总人数</sub> -
<span title="免听人数" class="free">{{summary.free}}</span><sub>免听</sub> -
<span title="请假人数" class="leave">{{summary.leave}}</span><sub>请假</sub> =
<span title="应到人数" class="should">{{summary.total - summary.free - summary.leave}}</span><sub>应到</sub>
（<span title="显示人数" class="visible">{{summary.visible}}</span><sub>显示</sub>
<span title="旷课人数" class="absent">{{summary.absent}}</span><sub>旷课</sub>
<span title="迟到人数" class="late">{{summary.late + summary.lateEarly}}</span><sub>迟到</sub>
<span title="早退人数" class="early">{{summary.early + summary.lateEarly}}</span><sub>早退</sub>
<span title="调课人数" class="attend">{{summary.attend}}</span><sub>调课</sub>）