<div class="row" *ngIf="rollcallForm">
    <div *ngFor="let student of rollcallForm.visibleStudents" class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="card text-center mb-3"
             [ngClass]="{'card-inverse': student.hover, 'card-primary': student.hover}"
             (mouseenter)="student.hover=true"
             (mouseleave)="student.hover=false">
            <div class="card-header text-left p-0">
                <ng-container *ngIf="!student.hover">
                    <rollcall-status [student]="student"></rollcall-status>
                </ng-container>
                <ng-container *ngIf="student.hover">
                    <rollcall-toggle-bar [stretch]="true" [rollcallType]="student.rollcallType" (toggle)="toggle(student, $event)"></rollcall-toggle-bar>
                </ng-container>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{student.name}}</h4>
                <p class="card-text">{{student.statis}}</p>
            </div>
        </div>
    </div>
</div>
