<div class="row" *ngIf="rollcallForm">
    <div *ngFor="let student of rollcallForm.visibleStudents" class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card text-center mb-3"
             [ngClass]="{'card-inverse': student.hover, 'card-primary': student.hover}"
             (mouseenter)="hovered = student"
             (mouseleave)="hovered = null">
            <div class="card-header text-left p-0">
                <rollcall-toggle-bar *ngIf="!student.absence && student === hovered; else status"
                    [stretch]="true"
                    [rollcallType]="student.rollcallType"
                    [disabled]="student.pending"
                    (toggle)="toggle(student, $event)">
                </rollcall-toggle-bar>
                <ng-template #status>
                    <rollcall-status class="py-1" [student]="student"></rollcall-status>
                </ng-template>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{student.name}}</h4>
                <div>
                    <p class="card-text">{{student.statis.join(' / ')}}</p>
                    <i [spinning]="student.pending"></i>
                </div>
            </div>
        </div>
    </div>
</div>
