@import './base-view.component.scss';

.card-header {
    border-bottom: 0;
    background-color: transparent;
    height: 1.5rem;
}

.card-block {
    padding: 0.125rem;
}

.card-title {
    font-size: 2.5rem;
}

.card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 0.5rem;
}

i {
    position: absolute;
    right: 0.25rem;
    bottom: 0.75rem;
}

/deep/ .btn-sm {
    font-size: 75%;
}
