@import '../../shared/vision-viewer.component';

:host {
    textarea {
        resize: vertical;
        margin-bottom: 1rem;
    }

    h2 {
        button {
            margin-left: 1rem;
            float: right;
        }
    }
}