<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <button (click)="create()" class="btn btn-primary">新建</button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label class="control-label">学院</label>
            <select name="department" class="form-control" [(ngModel)]="observerFilter.departmentId">
                <option value="" > </option>
                <option *ngFor="let item of departments" [ngValue]="valueFn(item)">
                    {{ labelFn(item) }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">学期</label>
            <select name="term" class="form-control" [(ngModel)]="observerFilter.termId">
                <option value="" > </option>
                <option *ngFor="let item of terms"  [ngValue]="item">
                    {{ item  | termLabel}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">角色</label>
            <select name="observerTypes" class="form-control" [(ngModel)]="observerFilter.observerType">
                <option value="" > </option>
                <option *ngFor="let item of observerTypes" [ngValue]="valueFn(item)">
                    {{ labelFn(item) }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">姓名</label>
            <teacher-select (selectTeacher)="onTeacherSelected($event)"></teacher-select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary" (click)="findSupervisor()">查询</button>
        </div>
    </div>
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <th>学院</th>
                    <th>姓名</th>
                    <th>工号</th>
                    <th class=text-center>职称</th>
                    <th class=text-center>学年学期</th>
                    <th class=text-center>角色</th>
                    <th class=text-center>删除</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-supervisor [ngForOf]="supervisors" let-i="index">
                    <tr>
                        <td>{{supervisor.dName}}</td>
                        <td>{{supervisor.tName}} </td>
                        <td>{{supervisor.tId}} </td>
                        <td class=text-center>{{supervisor.academicTitle}}</td>
                        <td class=text-center>{{supervisor.termId | termLabel}}</td>
                        <td class=text-center>{{supervisor.observerType | typeLabel}}</td>
                        <td class=text-center><div class="btn btn-secondary btn-sm" (click)="remove(supervisor.id)"> <i class="fa fa-times" aria-hidden="true"></i></div></td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
