<div class="row">
    <div class="form-group col-2">
        <select class="form-control" (change)="onGradeChanged($event.target.value)">
            <option *ngFor="let grade of grades" [value]="grade">{{grade}}级</option>
        </select>
    </div>
</div>
<table class="table" *ngIf="departments">
    <thead>
        <tr>
            <th rowspan="2">学院</th>
            <th rowspan="2">执行计划</th>
            <th rowspan="2">学位</th>
            <th colspan="2" class="center">培养方案<br></th>
            <th colspan="5" class="center">教学安排</th>
            <th rowspan="2" class="center">操作</th>
        </tr>
        <tr>
            <th>修读<br>年限</th>
            <th>能否<br>修订</th>
            <th>计划模板</th>
            <th class="center">锁定<br>模板</th>
            <th class="center">能否<br>修订</th>
            <th class="center">能否<br>导出</th>
            <th class="center">实践<br>比例</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let department of departments; let i = index">
            <ng-container *ngFor="let program of department.programs; let j = index">
                <tr>
                    <td *ngIf="j == 0" [rowSpan]="department.programs.length">{{department.name}}</td>
                    <td class="name">{{program.programId}} {{program.subjectName}}</td>
                    <td>{{program.degreeName}}</td>
                    <td>{{program.minLengthOfSchooling}}-{{program.maxLengthOfSchooling}}年</td>
                    <td class="center">{{program.visionRevisible ? '是' : '否'}}</td>
                    <td>{{program.templateName}}</td>
                    <td class="center">{{program.templateLocked ? '是' : '否'}}</td>
                    <td class="center">{{program.schemeRevisible ? '是' : '否'}}</td>
                    <td class="center">{{program.schemeExportable ? '是' : '否'}}</td>
                    <td class="center">{{program.practiceCreditRatio | percent}}</td>
                    <td class="center"><button class="form-control form-control-sm" (click)="edit(program)">编辑</button></td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>