<div class="row">
    <div class="form-group col-xs-2">
        <select class="form-control" (change)="onGradeChanged($event.target.value)">
            <option *ngFor="let grade of grades" [value]="grade">{{grade}}级</option>
        </select>
    </div>
</div>
<table class="table" *ngIf="departments">
    <thead>
        <tr>
            <th rowspan="2">学院</th>
            <th rowspan="2">执行计划</th>
            <th rowspan="2" class="center">学位</th>
            <th>培养方案</th>
            <th colspan="4" class="center">教学安排</th>
            <th rowspan="2" class="center">编辑</th>
        </tr>
        <tr>
            <th>能否修订</th>
            <th>模板</th>
            <th>锁定模板</th>
            <th>能否修订</th>
            <th>实践比例</th>
        </tr>
    </thead>
    <tbody>
        <template ngFor let-department [ngForOf]="departments" let-i="index">
            <template ngFor let-program [ngForOf]="department.programs" let-j="index">
                <tr>
                    <td *ngIf="j == 0" [rowSpan]="department.programs.length">{{department.name}}</td>
                    <td class="name">{{program.programId}} {{program.subjectName}}</td>
                    <td class="center">{{program.degreeName}}</td>
                    <td class="center">{{program.visionRevisible ? '是' : '否'}}</td>
                    <td>{{program.templateName}}</td>
                    <td class="center">{{program.templateLocked ? '是' : '否'}}</td>
                    <td class="center">{{program.schemeRevisible ? '是' : '否'}}</td>
                    <td class="center">{{program.practiceCreditRatio | percent}}</td>
                    <td class="center"><button class="form-control form-control-sm" (click)="edit(program)">编辑</button></td>
                </tr>
            </template>
        </template>
    </tbody>
</table>