<div class="container" *ngIf="form">
    <div class="btn-toolbar mt-3">
        <div class="btn-group ml-auto">
            <button [workflow-workitems]="form.workflowInstanceId">流程</button>
        </div>
        <div class="btn-group ml-2" *ngIf="reviewable">
            <button [workflow-reject]="reviewOptions" (rejected)="onItemLoaded($event)">退回</button>
            <button [workflow-accept]="reviewOptions" (accepted)="onItemLoaded($event)" *ngIf="!form.occupied">同意</button>
        </div>
        <div class="btn-group ml-2" *ngIf="revokable">
            <button [workflow-revoke]="revokeOptions" (revoked)="onItemLoaded($event)">回收</button>
        </div>
    </div>
    <booking-form-viewer [form]="form"></booking-form-viewer>
</div>
