<div *ngIf="subjects">
    <ng-container *ngFor="let subject of subjects">
        <h1>{{subject.name}}</h1>
        <ul>
            <li *ngFor="let program of subject.programs">
                <h2>{{program.grade}}级{{program.type | programType}}</h2>
                <ul>
                    <li *ngFor="let scheme of program.schemes">
                        <a *ngIf="!scheme.id; else exists" [routerLink]="['/create', program.id]">新建</a>
                        <ng-template #exists>
                            <a [routerLink]="['/', scheme.id]">v{{scheme.versionNumber | versionNumber}}</a>
                            <audit-status [status]="scheme.status"></audit-status>
                        </ng-template>
                    </li>
                </ul>
            </li>
        </ul>
    </ng-container>
</div>
