<td>{{schemeCourse.courseId}}</td>
<td class='course-name'>{{schemeCourse.courseName}}</td>
<td>{{schemeCourse.credit}}</td>
<td>{{schemeCourse.practiceCredit | zeroEmpty}}</td>
<td>{{schemeCourse.totalPeriod | zeroEmpty}}<sup *ngIf="schemeCourse.showPeriodWeeks" class="text-info">{{schemeCourse.periodWeeks | zeroEmpty}}</sup></td>
<td *ngFor="let term of terms" [class.short-term]="term>=17">{{schemeCourse.getTermPeriod(term) | zeroEmpty}}</td>
<td>
    <button type="button" class="btn btn-secondary btn-sm" *ngIf="!schemeCourse.isTempCourse && schemeCourse.canEdit()"
            (click)="edit.emit(schemeCourse)"
            [disabled]="schemeCourse.locked">编辑</button>
    <button type="button" class="btn btn-secondary btn-sm" *ngIf="schemeCourse.canEdit()"
            (click)="delete.emit(schemeCourse)"
            [disabled]="schemeCourse.locked">删除</button>
    <button type="button" class="btn btn-secondary btn-sm" *ngIf="schemeCourse.canRevert()"
            (click)="restore.emit(schemeCourse)"
            [disabled]="schemeCourse.locked">还原</button>
</td>
