:host {
    padding: 0;
}

div {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
}

i {
    display: inline-block;
    margin: 0px 1px 1px 0px;
    width: 9px;
    height: 9px;
}
