<div class="row" *ngIf="counts">
    <div class="col-md-3">
        <div class="list-group">
            <a *ngFor="let item of statuses"
                class="list-group-item list-group-item-action justify-content-between"
                [routerLink]="['/list', item.status]"
                routerLinkActive="active">
                {{item.label}}
                <span class="badge badge-pill " [ngClass]="item.class">
                    {{counts[item.status] ? counts[item.status] : 0}}
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table" *ngIf="forms && forms.length > 0; else empty">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>学院</th>
                    <th>专业</th>
                    <th>申请时间</th>
                    <th>申请次序</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let form of forms">
                    <td><a [routerLink]="['/', form.id]">{{form.studentId}}</a></td>
                    <td>{{form.name}}</td>
                    <td>{{form.department}}</td>
                    <td>{{form.subject}}</td>
                    <td>{{form.applyDate | moment}}</td>
                    <td>第{{form.rank}}次</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <pager [total]="counts[status]" [max]="max" [length]="forms.length"
                               (prev)="loadData($event)" (next)="loadData($event)"></pager>
                    </td>
                </tr>
            </tfoot>
        </table>
        <ng-template #empty><div class="alert alert-info">暂无数据</div></ng-template>
    </div>
</div>