@mixin short-term() {
    background-color: rgba(240, 240, 240, 0.5);
}

.scheme {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .h1p {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    table {
        th, td {
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 0.25rem;
            &.short-term {
                @include short-term();
            }
        }

        td {
            &.course-name {
                text-align: left;
                white-space: normal;
            }
        }

        tr {
            &.group {
                background-color: #fafafa;
            }
        }
    }

    .vertical {
        width: 1rem;
        line-height: 1.125rem;
        margin: auto;
        white-space: normal;
    }

    scheme-table {
        display: block;
        margin-bottom: 1rem;
    }
}

@media print {
    body {
        font-size: 11px;
    }

    .scheme {
        table {
            font-family: '宋体';

            thead {
                display: table-row-group;
            }

            th, th {
                padding: 2px!important;
            }
        }
    }
}
