<td *ngIf="first1 && first2" [attr.rowspan]="group2.rowspan"><span class="vertical">{{group2.name}}</span></td>
<td *ngIf="first1" [attr.colspan]="group2 ? 1 : 2" [attr.rowspan]="group1.rowspan"><span class="vertical">{{group1.name}}</span></td>
<td>{{schemeCourse.courseId}}</td>
<td class="course-name">{{schemeCourse.courseName}}</td>
<td>{{schemeCourse.credit | zeroEmpty}}</td>
<td>{{schemeCourse.practiceCredit | zeroEmpty}}</td>
<td>{{schemeCourse.totalPeriod | zeroEmpty}}<sup *ngIf="schemeCourse.showPeriodWeeks" class="text-info">{{schemeCourse.periodWeeks | zeroEmpty}}</sup></td>
<td *ngFor="let term of schemeCourse.terms" [class.short-term]="term>=17">{{schemeCourse.getTermPeriod(term) | zeroEmpty}}</td>
