@mixin short-term() {
    background-color: rgba(240, 240, 240, 0.5);
}

.scheme {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .h1p {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    table {
        th.group-name {
            width: 3rem;
        }

        th, td {
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 0.25rem;
            &.short-term {
                @include short-term();
            }
        }

        td {
            &.course-name {
                text-align: left;
                white-space: normal;
            }

            .vertical {
                writing-mode: vertical-rl;
                -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
            }
        }

        tr {
            &.group {
                background-color: #fafafa;
                .summary {
                    white-space: normal;
                }
            }
        }

        thead {
            tr.fix-print {
                display: none;
            }
        }

        tfoot.fix-print {
            display: none;
        }
    }

    scheme-table {
        display: block;
        margin-bottom: 1rem;
    }
}

@media print {
    body {
        font-size: 11px;
    }

    .scheme {
        table {
            font-family: '宋体';

            thead {
                border-top: solid 2px #000;
                tr.fix-print {
                    display: table-row;
                    th {
                        padding: 0;
                        border-bottom-width: 0;
                    }
                }
            }

            tfoot.fix-print {
                display: table-footer-group;
                td {
                    padding: 0;
                    border-bottom-width: 0;
                }
            }

            tr:not(.fix-print) {
                th {
                    border-bottom-width: 1px !important;
                }
            }
        }
    }
}
