<modal-dialog [title]="title">
    <modal-body>
        <form class="form-horizontal">
            <form-field label="学院">
                <select name="department" class="form-control" [(ngModel)]="departmentName">
                    <option value="" disabled>选择学院</option>
                    <option *ngFor="let item of majors | uniqueBy: 'departmentName'" [ngValue]="item">
                        {{item}}
                    </option>
                </select>
            </form-field>
            <form-field label="年级">
                <select name="grade" class="form-control" [(ngModel)]="grade">
                    <option value="" >选择年级</option>
                    <option *ngFor="let item of majors | filterBy: filterByDepartment(departmentName) | uniqueBy: 'grade'"  [ngValue]="item">
                        {{item}}
                    </option>
                </select>
            </form-field>
            <form-field label="专业">
                <select name="subjectName" class="form-control" [(ngModel)]="subjectName">
                    <option value="" disabled>选择专业</option>
                    <option *ngFor="let item of majors | filterBy: filterByDepartment(departmentName) | filterBy: filterByGrade(grade) | uniqueBy: 'subjectName'" [ngValue]="item">
                        {{item}}
                    </option>
                </select>
            </form-field>
            <form-field label="衔接(英)">
                <input class="form-control" name="majorOptions" type="text" [(ngModel)]="majorOptions" placeholder="外国大学可衔接专业（英文）" />
            </form-field>
            <form-field label="衔接(中)">
                <input class="form-control" name="majorOptionsCn" type="text" [(ngModel)]="majorOptionsCn" placeholder="外国大学可衔接专业（中文）" />
            </form-field>
        </form>
    </modal-body>
    <modal-footer>
        <button modalCancel>取消</button>
        <button type="button" class="btn btn-secondary" (click)="ok()" [disabled]="!majorSelected">确定</button>
    </modal-footer>
</modal-dialog>
