@import 'node_modules/bootstrap/scss/_variables.scss';
.table {
    border-bottom: solid $table-border-width $table-border-color;

    th {
        border-top-width: 0;
        text-align: center;
        font-weight: normal;
    }
    td {
        vertical-align: middle;
        text-align: center;

        &.c1 {
            width: 8%;
            border-right: solid $table-border-width $table-border-color;
        }

        &.c2 {
            width: 4.5%;
            border-right: solid $table-border-width $table-border-color;
        }

        &.cn {
            width: 12.5%;
        }

        &.active {
            border-left: solid $table-border-width $table-border-color;
            border-right: solid $table-border-width $table-border-color;
            background-color: $gray-lightest;
        }
    }
}

:host-context([size=sm]) {
    font-size: 0.75rem;
}