<ul class="nav nav-tabs week-tabs">
	<li *ngFor="let week of weeks" class="nav-item" >
        <a class="nav-link" [ngClass]="{active: currentWeek == week}" href='#' data-toggle="tab" (click)="currentWeek=week">{{week}}</a>
    </li>
</ul>
<table class="table" *ngIf="schedules">
    <thead>
        <tr>
            <th colspan="2" data-week="${currentWeek}">第{{currentWeek}}周</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let section of sections">
            <td class="c1" [rowSpan]="spans[section].span" *ngIf="spans[section]">{{spans[section].label}}</td>
            <td class="c2">{{section}}</td>
            <ng-container *ngFor="let day of days">
                <ng-container [ngSwitch]="cellType(day, section)">
                    <td *ngSwitchCase="'schedule'" [rowSpan]="getRowSpan(day, section)" class="cn active">
                        <ng-container *ngFor="let s of getScheduleCell(day, section)">
                            <ng-container [ngTemplateOutlet]="tpl" [ngTemplateOutletContext]="getScheduleContext(s, day, section)"></ng-container>
                        </ng-container>
                    </td>
                    <td *ngSwitchCase="'normal'" class="cn"></td>
                </ng-container>
            </ng-container>
        </tr>
    </tbody>
</table>