<ul class="nav nav-tabs flex-wrap week-tabs">
	<li *ngFor="let week of weeks" class="nav-item" >
        <a class="nav-link" [ngClass]="{active: currentWeek == week}" href='#' data-toggle="tab" (click)="currentWeek=week">
            <ng-container *ngIf="weekTabTemplate; else defaultWeekTab">
                <template [ngTemplateOutlet]="weekTabTemplate" [ngTemplateOutletContext]="{week: week}"></template>
            </ng-container>
            <template #defaultWeekTab>{{week}}</template>
        </a>
    </li>
</ul>
<table class="table table-sm" *ngIf="schedules">
    <thead>
        <tr>
            <th colspan="2">
                <ng-container *ngIf="weekTemplate; else defaultWeek">
                    <template [ngTemplateOutlet]="weekTemplate" [ngTemplateOutletContext]="{week: currentWeek}"></template>
                </ng-container>
                <template #defaultWeek>第{{currentWeek}}周</template>
            </th>
            <th *ngFor="let day of days">
                <ng-container *ngIf="dayOfWeekTemplate; else defaultDay">
                    <template [ngTemplateOutlet]="dayOfWeekTemplate" [ngTemplateOutletContext]="{week: currentWeek, day: day}"></template>
                </ng-container>
                <template #defaultDay>{{day | dayOfWeek}}</template>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let section of sections">
            <td class="c1" [rowSpan]="spans[section].span" *ngIf="spans[section]">{{spans[section].label}}</td>
            <td class="c2">{{section}}</td>
            <ng-container *ngFor="let day of days">
                <ng-container [ngSwitch]="cellType(day, section)">
                    <td *ngSwitchCase="'schedule'" [rowSpan]="getRowSpan(day, section)" class="cn active">
                        <ng-container *ngFor="let s of getScheduleCell(day, section)">
                            <template [ngTemplateOutlet]="scheduleTemplate" [ngTemplateOutletContext]="getScheduleContext(s, day, section)"></template>
                        </ng-container>
                    </td>
                    <td *ngSwitchCase="'normal'" class="cn"></td>
                </ng-container>
            </ng-container>
        </tr>
    </tbody>
</table>