<ng-container *ngIf="student">
    <section>
        <h5>考勤情况</h5>
        <ul class="list-unstyled" *ngIf="student.rollcalls.length > 0; else emptyRollcall">
            <li *ngFor="let item of student.rollcalls">
                <label *ngFor="let label of item.labels" class="badge badge-{{label.class}}">{{label.text}}</label>
                <span [class.invalid]="item.invalid">{{item}}</span>
                <a *ngIf="item.freeListenFormId" class="badge badge-success" href="./freeListens/#{{item.freeListenFormId}}" target="_blank">免听</a>
            </li>
        </ul>
        <ng-template #emptyRollcall>
            <p>暂无考勤数据</p>
        </ng-template>
    </section>
    <section>
        <h5>请假情况</h5>
        <ul class="list-unstyled" *ngIf="student.leaves.length > 0; else emptyLeave">
            <li *ngFor="let item of student.leaves">
                <a class="badge badge-secondary" href="./leaves/#{{item.studentLeaveFormId}}" target="_blank">{{item.label}}</a>
                <span [class.invalid]="item.invalid">{{item}}</span>
                <a *ngIf="item.freeListenFormId" class="badge badge-success" href="./freeListens/#{{item.freeListenFormId}}" target="_blank">免听</a>
            </li>
        </ul>
        <ng-template #emptyLeave>
            <p>暂无请假数据</p>
        </ng-template>
    </section>
</ng-container>
