<div *ngIf="vm">
    <div class="btn-toolbar">
        <div class="btn-group">
            <select class="form-control" [(ngModel)]="selectedTerm">
                <option [ngValue]="0">全部学期</option>
                <option *ngFor="let term of vm.terms" [ngValue]="term">{{term | termName}}</option>
            </select>
        </div>
        <div class="btn-group ml-auto">
            <button *ngIf="vm.latest && vm.exportable" class="btn btn-secondary" (click)="exportToes()">导入</button>
        </div>
    </div>
    <plan-title [title]="vm.title"
            [program]="vm.programId"
            [version]="vm.versionNumber"></plan-title>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>选择</th>
                <th>课程编码</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>专业方向</th>
                <th>学分</th>
                <th>实践<br>学分</th>
                <th>总<br>学时</th>
                <th>理论<br>学时</th>
                <th>实验<br>学时</th>
                <th>开课<br>学期</th>
                <th>开课<br>周数</th>
                <th>起始－<br>结束周</th>
                <th>开课单位</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let property of vm.properties | propertyToes">
                <ng-container *ngFor="let direction of property.directions; let i = index">
                    <tr *ngFor="let sc of direction.courses | schemeCourseToes : selectedTerm"
                        [scheme-course]="sc"
                        [property]="property"
                        [direction]="direction"
                        [scheme]="vm"
                        (edit)="onEdit(sc)"></tr>
                </ng-container>
                <tr *ngFor="let sc of property.courses | schemeCourseToes : selectedTerm"
                    [scheme-course]="sc"
                    [property]="property"
                    [direction]="null"
                    [scheme]="vm"
                    (edit)="onEdit(sc)"></tr>
            </ng-container>
        </tbody>
    </table>
</div>