<td><input type="checkbox" [(ngModel)]="schemeCourse.selected" [disabled]="schemeCourse.exported || !schemeCourse.exportable"></td>
<td>{{schemeCourse.courseId}}</td>
<td class='course-name'>{{schemeCourse.courseName}}</td>
<td>{{directionName}}</td>
<td>{{schemeCourse.suggestedTerm | termTitle}}</td>
<td>{{schemeCourse.credit}}<span *ngIf="schemeCourse.practiceCredit">/{{schemeCourse.practiceCredit}}</span></td>
<td>{{schemeCourse.totalPeriod | zeroEmpty}}</td>
<td>{{schemeCourse.weekPeriod}}</td>
<td>
    <ng-container [ngSwitch]="startWeekType">
        <ng-container *ngSwitchCase="0">+{{schemeCourse._periodWeeks}}</ng-container>
        <ng-container *ngSwitchDefault>{{schemeCourse.startWeek | zeroPad}}-{{schemeCourse.endWeek | zeroPad}}</ng-container>
    </ng-container>
</td>
<td>{{departmentName}}</td>
<td>{{schemeCourse.assessType | assessType}}</td>
<td>
    <label *ngIf="schemeCourse.exported" class="badge badge-success">已导入</label>
    <button *ngIf="!schemeCourse.exported" type="button" class="btn btn-secondary btn-sm" (click)="edit.emit()">编辑</button>
</td>