<schedule-weektab [term]="term" [showTermTab]="true" #weektab></schedule-weektab>
<schedule-timetable [timetable]="timetable" [week]="weektab.selectedWeek">
    <ng-template #timeslotTpl let-timeslot="timeslot" let-week="week">
        <div class="timeslot">
            <div class="slotitem" *ngFor="let item of timeslot.items">
                <div class="course">
                    <span class="course-name">{{item.course}}</span>
                    <span class="course-item" *ngIf="item.courseItem">{{item.courseItem}}</span>
                </div>
                <div>{{item.weeksText}}{{item.sectionsText}}</div>
                <div>{{item.place}}</div>
                <div>{{item.teachers}}</div>
            </div>
        </div>
    </ng-template>
</schedule-timetable>
