<div class="btn-toolbar">
    <div class="btn-group ml-auto">
        <button class="btn btn-secondary" routerLink="edit">编辑</button>
    </div>
</div>
<div class="col-md-8 col-lg-6 mx-auto">
    <form class="form-horizontal" *ngIf="user">
        <form-field label="编号">
            <p class="form-control-plaintext">{{user.id}}</p>
        </form-field>
        <form-field label="姓名">
            <p class="form-control-plaintext">{{user.name}}</p>
        </form-field>
        <form-field label="电子邮箱">
            <p class="form-control-plaintext">{{user.email || '<空>'}}</p>
        </form-field>
        <form-field label="办公电话" *ngIf="user.userType != 'STUDENT'">
            <p class="form-control-plaintext">{{user.officePhone || '<空>'}}</p>
        </form-field>
        <form-field label="移动电话">
            <p class="form-control-plaintext">{{user.longPhone || '<空>'}}</p>
        </form-field>
        <form-field label="手机短号">
            <p class="form-control-plaintext">{{user.shortPhone || '<空>'}}</p>
        </form-field>
    </form>
</div>