<ng-container *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class='btn btn-secondary' (click)="cancel()">取消</button>
            <button class='btn btn-primary' (click)="save()" [disabled]="saving || !form.isValid()">保存</button>
        </div>
    </div>
    <form-title>{{form.title}}</form-title>
    <form>
        <div class="row">
            <div class="form-group col-md">
                <label>学期</label>
                <p class="form-control-plaintext">{{form.term | termName}}</p>
            </div>
            <div class="form-group col-md">
                <label>申请起止日期</label>
                <p class="form-control-plaintext">{{settings.applyStartDate | date: 'y-MM-dd'}}至{{settings.applyEndDate | date: 'y-MM-dd'}}</p>
            </div>
            <div class="form-group col-md">
                <label>审核起止日期</label>
                <p class="form-control-plaintext">{{settings.checkStartDate | date: 'y-MM-dd'}}至{{settings.checkEndDate | date: 'y-MM-dd'}}</p>
            </div>
        </div>
        <div class="form-group">
            <label>主讲教师</label>
            <p class="form-control-plaintext">
                <ng-container *ngIf="form.checkerName; else prompt">{{form.checkerName}}</ng-container>
                <ng-template #prompt>每次免听申请只能选择一位主讲教师，可选择多次教学安排。</ng-template>
            </p>
        </div>
        <div class="form-group" [class.has-danger]="!reason.pristine && !reason.valid">
            <label>免听事由</label>
            <textarea class="form-control" name="reason" rows="4"
                [(ngModel)]="form.reason"
                maxlength="200" minlength="10"
                required
                #reason="ngModel"></textarea>
            <p class="form-control-feedback" [hidden]="reason.pristine || reason.valid">
                <span *ngIf="reason.errors?.required">免听事由不能为空。</span>
                <span *ngIf="reason.errors?.minlength">免听事由最少{{reason.errors.minlength.requiredLength}}个字符。</span>
                <span *ngIf="reason.errors?.maxlength">免听事由最多{{reason.errors.maxlength.requiredLength}}个字符。</span>
            </p>
        </div>
        <div class="form-group">
            <label>免听项目</label>
            <schedule-timetable [timetable]="timetable">
                <ng-template #timeslotTpl let-timeslot="timeslot" let-week="week">
                    <div class="timeslot btn-group-vertical">
                        <button class="btn slotitem" *ngFor="let item of timeslot.items"
                            [ngClass]="item.getFreeListenClass(form)"
                            [disabled]="form.scheduleDisabled(item.getFreeListenSchedule())"
                            (click)="form.toggleSchedule(item.getFreeListenSchedule())">
                            <div class="course">
                                <span class="course-name">{{item.course}}</span>
                                <span class="course-item" *ngIf="item.courseItem">{{item.courseItem}}</span>
                            </div>
                            <div>{{item.weeksText}}{{item.sectionsText}}</div>
                            <div>{{item.place}}</div>
                            <div>{{item.teachers}}</div>
                            <div>{{item.courseClassNames}}</div>
                        </button>
                    </div>
                </ng-template>
            </schedule-timetable>
            <div class="d-flex">
                图例：
                <div class="slotitem-sample slotitem-normal">学生课表</div>
                <div class="slotitem-sample slotitem-current">当前申请</div>
                <div class="slotitem-sample slotitem-exists">其它申请-未审批</div>
                <div class="slotitem-sample slotitem-approved">其它申请-已审批</div>
            </div>
            <ul>
                <li *ngFor="let item of form.items">{{item}}</li>
            </ul>
        </div>
    </form>
</ng-container>
