<ng-container *ngIf="form">
    <div class="btn-toolbar">
        <div class="btn-group ml-auto">
            <button class='btn btn-secondary' (click)="cancel()">取消</button>
            <button class='btn btn-primary' (click)="save()" [disabled]="saving || !form.isValid()">保存</button>
        </div>
    </div>
    <form-title>{{form.title}}</form-title>
    <form class="form-horizontal">
        <form-field label="主讲教师">
            <p class="form-control-static">
                <ng-container *ngIf="form.checkerName; else prompt">{{form.checkerName}}</ng-container>
                <template #prompt>每次免听申请只能选择一位主讲教师，可选择多次教学安排。只有重修课程可以申请免听</template>
            </p>
        </form-field>
        <form-field label="免听项目">
            <simple-schedule [schedules]="schedules" size="sm">
                <template #scheduleTpl let-schedule="schedule" let-day="day" let-section="section" let-count="count">
                    <button class="btn w-100"
                            [ngClass]="scheduleClass(schedule)"
                            [style.height]="count > 1 ? null : '100%'"
                            [disabled]="form.scheduleDisabled(schedule)"
                            (click)="form.toggleSchedule(schedule)">
                        {{schedule.courseLabel}}<br>{{schedule.weeksLabel}}<br>{{schedule.teacherName}}
                    </button>
                </template>
            </simple-schedule>
            <div>
                图例：
                <span class="btn btn-sm btn-secondary">学生课表</span>
                <span class="btn btn-sm btn-danger">当前申请</span>
                <span class="btn btn-sm btn-info">其它申请（未审批）</span>
                <span class="btn btn-sm btn-success">其它申请（已审批）</span>
            </div>
            <ul>
                <li *ngFor="let item of form.items">{{item}}</li>
            </ul>
        </form-field>
        <form-field label="免听事由">
            <textarea class="form-control" name="reason" rows="4"
                [(ngModel)]="form.reason"
                maxlength="200" minlength="10"
                required
                #reason="ngModel"></textarea>
            <p class="form-control-feedback" [hidden]="reason.pristine || reason.valid">
                <span *ngIf="reason.errors?.required">免听事由不能为空。</span>
                <span *ngIf="reason.errors?.minlength">免听事由最少{{reason.errors.minlength.requiredLength}}个字符。</span>
                <span *ngIf="reason.errors?.maxlength">免听事由最多{{reason.errors.maxlength.requiredLength}}个字符。</span>
            </p>
        </form-field>
    </form>
</ng-container>
