<div class="row" *ngIf="counts">
    <div class="col-md-3">
        <div class="list-group">
            <a *ngFor="let item of statuses"
                class="list-group-item list-group-item-action justify-content-between"
                [routerLink]="['/', item.status]"
                routerLinkActive="active">
                {{item.label}}
                <span class="badge badge-pill" [ngClass]="item.class">
                    {{counts[item.status] ? counts[item.status] : 0}}
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>类别</th>
                    <th>标题</th>
                    <th>提交人</th>
                    <th>提交时间</th>
                    <th *ngIf="status=='closed'">处理时间</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos">
                    <td>{{todo.type}}</td>
                    <td><a href="{{baseUrl}}/{{todo.id}}">{{todo.title}}</a></td>
                    <td>{{todo.fromUser}}</td>
                    <td><from-now [date]="todo.dateCreated"></from-now></td>
                    <td *ngIf="status=='closed'"><from-now [date]="todo.dateProcessed"></from-now></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <pager [total]="counts[status]" [max]="max" [length]="todos.length"
                               (prev)="loadData($event)" (next)="loadData($event)"></pager>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>