<form-title>{{form.title}}</form-title>
<form class="form-horizontal">
    <form-field-2>
        <p class="form-control-static form-field-left" label="学号">{{form.studentId}}</p>
        <p class="form-control-static form-field-right" label="姓名">{{form.studentName}}</p>
    </form-field-2>
    <form-field-2>
        <p class="form-control-static form-field-left" label="类型">{{form.type | leaveType}}</p>
        <p class="form-control-static form-field-right" label="班级">{{form.adminClass}}</p>
    </form-field-2>
    <form-field label="事由">
        <p class="form-control-static">{{form.reason}}</p>
    </form-field>
    <form-field label="明细">
        <ul>
            <li *ngFor="let item of form.items">{{item}}</li>
        </ul>
    </form-field>
</form>