<form-title>{{form.title}}</form-title>
<div class="row">
    <form class="col-lg-10 mx-auto">
        <div class="row">
            <div class="form-group col-md-6">
                <label>学号</label>
                <p class="form-control-plaintext">{{form.studentId}}</p>
            </div>
            <div class="form-group col-md-6">
                <label>姓名</label>
                <p class="form-control-plaintext">{{form.studentName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>请假类型</label>
                <p class="form-control-plaintext">{{form.type | leaveType}}</p>
            </div>
            <div class="form-group col-md-6">
                <label>班级</label>
                <p class="form-control-plaintext">{{form.adminClass}}</p>
            </div>
        </div>
        <div class="form-group">
            <label>请假事由</label>
            <p class="form-control-plaintext">{{form.reason}}</p>
        </div>
        <div class="form-group">
            <label>请假明细</label>
            <ul>
                <li *ngFor="let item of form.items">{{item}}</li>
            </ul>
        </div>
    </form>
</div>