body {
    overflow-y: scroll;
}

header {
    min-height: 54px;
    margin-bottom: 1rem;
}

.btn-toolbar {
    margin-bottom: 1rem;
}

th {
    white-space: nowrap
}

label {
    font-weight: bold;
}

.form-check label {
    font-weight: normal;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    nav-tabs, .navbar, .btn-toolbar {
        display: none !important;
    }

    .table-bordered td,.table-bordered th {
        border-color: #000 !important;
    }
}