body {
    overflow-y: scroll;
}

header {
    min-height: 54px;
    margin-bottom: 1rem;
}

.btn-toolbar {
    margin-bottom: 1rem;
}

th {
    white-space: nowrap
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .btn-toolbar {
        display: none !important;
    }

    .table-bordered td,.table-bordered th {
        border: 1px solid #000 !important;
    }
}