<modal-dialog title="处理流程">
    <modal-body>
        <ul *ngIf="options.data" style="max-height: 400px; overflow-y: auto">
            <li *ngFor="let item of options.data">
                <div><b>{{item.fromUser}}</b>于{{item.dateCreated | fromNow}}<span class="{{item.action | actionClass}}">{{item.action | actionName:item.activity}}</span></div>
                <div *ngIf="item.note">{{item.note}}</div>
            </li>
        </ul>
    </modal-body>
    <modal-footer>
        <button modalOk (click)="ok()">确定</button>
    </modal-footer>
</modal-dialog>