h2 {
    font-size: 1.25rem;
}

:host {
    p {
        text-indent: 2em;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 1rem;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }
}

@media print {
    :host {
        font-family: '宋体';

        h1 {
            font-weight: bold;
        }

        h2 {
            text-indent: 2em;
            font-family: '黑体';
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        ol {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 1em;
        }

        ul {
            li {
                margin-left: -1.5em;
            }
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}